@using BPMNEditor.Shared
@namespace BPMNEditor

<div id="BPMNEditor-container"  style="visibility:visible;" class=@DiagramBuilderClassName>   
    <DiagramMenuBar @ref="MenuBar"></DiagramMenuBar>
    <DiagramToolBar @ref="Toolbar"></DiagramToolBar>
    <div class='row content' style="padding-top:0px">
        <DiagramLeftSideBar @ref="LeftSideBar"></DiagramLeftSideBar>
        <div class='main-content' role='main'>
            <DiagramMainContent @ref="DiagramContent"></DiagramMainContent>
            <div class=@PropertyPanelClassName style="overflow:auto;">
                <DiagramPropertyContainer @ref="DiagramPropertyPanel"></DiagramPropertyContainer>
            </div>
        </div>
    </div>
        <!-- Fixed footer -->
    <div class="footer">
        <div class="footer-container">
            <div class="diagram-icon">
                <img class="footer-logo" src="diagram_component.svg" alt="Diagram Component" />
            </div>
            <div class="footer-content">
                <div class="title">
                    <span>Want interactive diagramming in your app?</span>
                    <span><strong class="main-title"> Try our Diagram component</strong> — build, connect, and customize!</span>
                </div>
                <div class="buttons">
                    <a class="e-trial-btn e-btn"
                       href="https://www.syncfusion.com/downloads/blazor?tag=es-freetools-bpmn-editor-sample-ads-trial"
                    target="_blank" rel="noopener noreferrer">
                    </a>
                    <a class="e-demo-btn"
                       href="https://www.syncfusion.com/request-demo?tag=es-freetools-bpmn-editor-sample-ads-demo"
                    target="_blank" rel="noopener noreferrer">
                        Request Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
      
   
    public MainLayout Parent { get; set; }
    public string DiagramBuilderClassName = "BPMNEditor-container";   
    public DiagramMainContent DiagramContent { get; set; }
    public string PropertyPanelClassName = "db-property-editor-container";  
    public DiagramPropertyContainer DiagramPropertyPanel { get; set; }   
    public DiagramMenuBar MenuBar { get; set; }
    public DiagramToolBar Toolbar { get; set; }  
    public DiagramLeftSideBar LeftSideBar { get; set; }
    [Inject]
    protected IJSRuntime? jsRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

            if (this.MenuBar != null)
                this.MenuBar.Parent = this;
            if (this.DiagramContent != null)
                this.DiagramContent.Parent = this;
            if (this.Toolbar != null)
                this.Toolbar.Parent = this;           
            if (this.DiagramPropertyPanel != null)
                this.DiagramPropertyPanel.Parent = this;
            if (this.LeftSideBar != null)
                this.LeftSideBar.Parent = this;         
        }
    }    
    public void StateChanged()
    {
        StateHasChanged();
    }

}
